@(session: String)(curUser: User)(coupon: Coupon)

@import helper._

@main("Welcome to bitCoupon") {
	
<body>
		<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-12">
						
							<ul class="nav navbar-nav">
							<!-- if statement for enable od disable button in case of login -->
								@if(session == null) {
									
							<li><a href="/loginpage" class="active"><i class="active"></i> Login </a></li>
							<li><a href="/signup" class="active"><i class="active"></i> Registration</a></li>
							} else {
 							<li><a href="@routes.UserController.profilePage(curUser.username)" method="GET" class="active"> @curUser.username </a></li>
 							<li><a href="/logout" class="active"><i class="active"></i> Logout</a></li>
							}						
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li>
								<a href="/">Home</a></li>
								<li class="dropdown"><a href="#" class="active">Page1<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/" class="active">Page2</a></li>
										<li><a href="/">Page3</a></li> 
										<li><a href="/">Page4</a></li> 
										<li><a href="/">Page5</a></li> 
										<li><a href="/loginpage">Login</a></li> 
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Page6<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/">Page7</a></li>
										<li><a href="/">Page8</a></li>
                                    </ul>
                                </li> 
								<li><a href="/">Page9</a></li>
								<li><a href="/">Page10</a></li>
							</ul>
						</div>
					</div>
				</div>
				</div>
			</div>
			
		</header>
		
	</section>
	<div class="container">
	<div class="col-sm-9">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
						<img src="@routes.Assets.at(coupon.picture)"></img>
							<div class="product-information"><!--/product-information-->
								<h2> @coupon.name </h2>
								<span>
									<span> @coupon.getPriceString() KM</span>
									<label>Enter the amount of coupons </label>
									<input type="text" value="0" />
								@if(Sesija.adminCheck(ctx()) == false) {
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Buy Coupon
									</button>
										}
									@if(Sesija.adminCheck(ctx()) == true) {
										<!-- edibe dodaj css za ovaj form sa id-eom macic -->

				
						   <a href='@routes.CouponController.editCoupon(coupon.id)' class="btn btn-fefault cart">Update coupon</a>
							
						   <a href='@routes.CouponController.deleteCoupon(coupon.id)' onclick="return confirm('Are you sure you want to delete this coupon?');"
					class="btn btn-fefault cart">Delete coupon</a>
							
							

							

							}
								</span>
								<p><b>Description</b> @coupon.description </p>
								<p><b>Remark: </b> @coupon.remark </p>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					</div>
						</div>
						</body>
					
}


