@(name: String)(addCategoryInfo: String)

@import helper._

@main("User Panel") {
	<body>
		<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
		
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-12">
						
							<ul class="nav navbar-nav">
 							<li><a class="active"> @name </a></li>
 							<li><a href="/logout" class="active"><i class="fa fa-lock"></i> Logout</a></li>					
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Home</a></li>							                            
								<li><a href="#">Category panel</a></li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			</div>
		</header>
	</section>
	

	<div class="container">
					<h4>@addCategoryInfo</h4>
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Category Creation</h2>
						<div class="col-sm-6 col-sm-offset-1">
						
						
					@if(Sesija.adminCheck(ctx()) == true) {
					<div class="signup-form"><!--sign up form-->
						<form action="@routes.CategoryController.addCategory" method ="POST" 
						      enctype="multipart/form-data">
							<input type="text" name="name" id="name" placeholder="Title" required/>
							<label> Choose category image</label>
							<input type="file" name="picture" id="picture" />
							<button type="submit" class="btn btn-default">Create Category</button>
								<p></p>
									<p></p>
										<p></p>
											<p></p>
						</form>
					</div><!--/sign up form-->
					} else {
					<div class="container">
					<label>Sorry! You need to be registered company to be able to create a category!</label>
					</div>
					}	
				</div>
			</div>
		</div>
	</section><!--/form-->
							</div>
						</div>
					</div>
	<p></p>
										<p></p>
											<p></p>
	</body>
		
	

	
}
	
