@(user: User)(contactForm: Form[Application.Contact])

@import helper._

@main("Contact") {
	
	<head>
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	
	<body>
	
		<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-12">
						
							<ul class="nav navbar-nav">
							<!-- if statement for enable od disable button in case of login -->
								@if( user == null) {
									
							<li><a href="/loginpage" class="active"><i class="active"></i> Login </a></li>
							<li><a href="/signup" class="active"><i class="glyphicon glyphicon-user"></i> Registration</a></li>
							} else {
 							<li><a href="@routes.UserController.profilePage(user.username)" method="GET" class="active"> @user.username </a></li>
 							<li><a href="/logout" class="active"><i class="fa fa-lock"></i> Logout</a></li>
							}						
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</div>
		</div><!--/header_top-->
	
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			
						
		
		<div class="container">
					
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Contact</h2>
						<div class="col-sm-6 col-sm-offset-1">
						
						@if(flash.get("success")){
							<h3>@flash.get("success")</h3>
							}
							
						@if(flash.get("error")){
							<h3>@flash.get("error")</h3>
							}
						
					<!--  <h4>Contact form</h4> -->
					
					
				 <div class="signup-form">
						<form action="@routes.Application.sendMail"  method ="POST" >
						
							<label for="name">Name and surname:</label>
							<input type="text" name="name" id="name" placeholder="John Doe" maxlength="30" 
							class='@("error-input".when(contactForm("name").hasErrors)) form-control' 
							value='@contactForm("name").value' required/> 
							
							<label for="email">Email adress:</label>
							<input type="email" name="email" id="email" placeholder="youremail@@mail.com"
							class='@("error-input".when(contactForm("email").hasErrors)) form-control' 
      						value='@contactForm("email").value'  required/>
      				
      						<!-- <input type="text" name="phone" id="phone" placeholder="Your phone number" -->
      						<!-- <input type='tel' pattern='[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}' title='Phone Number (Format: +99(99)9999-9999)' -->
      						<label for="phonenum">Phone Number:</label>
							<input name="phone" type="text" pattern="\d{3}[- ]?\d{3}[- ]?\d{3}" placeholder="Format: xxx xxx xxx" title='Phone Number Format: xxx xxx xxx(no dashes!)'
							class='@("error-input".when(contactForm("phone").hasErrors)) form-control' 
							value='@contactForm("phone").value' required/> 
							
							<textarea name="message" id="message" placeholder="Your message to us!" cols="54" rows="6"
							class='@("error-input".when(contactForm("message").hasErrors)) form-control' 
      						value='@contactForm("message").value' > @contactForm("message").value </textarea>
							
							<br></br>
							
							   <div class="form-group">
				   				 <div class="col-md-offset-2 col-sm-10 col-md-5">
				  				<div class="g-recaptcha" data-sitekey="6LdMnAMTAAAAAD8tf0rTSe-DwRNThLwNGDTudxx1"></div>
				  			</div>
			  				</div> 
							<br></br>
							<br></br>
							<div class="btn-toolbar" role="toolbar">
							<div class="btn-group">
							<button type="submit" value="Send message" class="btn btn-default">Send</button>
							</div>
							<div class="btn-group">
							<button type="reset" value="Clean" class="btn btn-default">Clean</button>
							</div>
							</div>
						</form>
					</div>
							
						
					</div><!--/sign up form-->
					
				</div>
			</div>
		</div>
	
	
	</body>
	
	
}