@(user: User)(coupons: List[Coupon])

@import helper._

@main("Welcome to bitCoupon") {
	
	
@*	<h2>@message @name</h2>
    <h4>Home: </h4> *@
<body>
		<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-12">
						
							<ul class="nav navbar-nav">
							<!-- if statement for enable od disable button in case of login -->
								@if( user == null) {
							<li><a href="/loginpage" class="active"><i class="active"></i> Login </a></li>
							<li><a href="/signup" class="active"><i  class="glyphicon glyphicon-user"></i> Registration</a></li>
							<li><a href="/contact" class="active"><i></i> Contact</a></li>
							} else {
 							<li><a href="@routes.UserController.profilePage(user.username)" method="GET" class="active"> @user.username </a></li>
 							<li><a href="/logout" class="active"><i></i> Logout</a></li>
 							<li><a href="/contact" class="active"><i></i> Contact</a></li>
							}	
							<li><a href="/faq" class="active"><i class="active"></i> FAQ </a></li>						
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</div>
		</div><!--/header_top-->
	
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li>
								<a href="/">Home</a></li>
								<li class="dropdown"><a href="#" class="active">Page1<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/" class="active">Page2</a></li>
										<li><a href="/">Page3</a></li> 
										<li><a href="/">Page4</a></li> 
										<li><a href="/">Page5</a></li> 
										<li><a href="/loginpage">Login</a></li> 
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Page6<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/">Page7</a></li>
										<li><a href="/">Page8</a></li>
                                    </ul>
                                </li> 
								<li><a href="/">Page9</a></li>
								<li><a href="/">Page10</a></li>
							</ul>
						</div>
					</div>
				</div>
				</div>
			</div>
			
		</header>
		
	</section>
	
	
	@if(flash.get("success")){
		<div class="alert alert-success" role="alert"> 
			<div class="container">
				@flash.get("success") 
			</div>
		</div>
	}


	@if(flash.get("error")){
		<div class="alert alert-danger" role="alert"> 
			<div class="container">
				@flash.get("error") 
			</div>
		</div>
	}
	
	<ul>
	
			<div class="container">
							<form action="/search" method="GET">
							<input id="q" name="q" type="text"/>
							<input type="submit"/>
							</form>
							</div>
	
			<div class="container">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Available Coupons</h2>
				
				
			<div class="containter" id="categories">
				<ul>
				<div class="container">
	        	@for(category <- Category.all()){
	        		
	        		<a href="@routes.CategoryController.categoryView(category.name)">@category.name</a>
	    			
	    			
	        	@*	@if(category.name == "Travel"){
	        		<a href="/">Travel</a> 
	        		}
	        		@if(category.name == "Food"){
	        		<a href="/">Food</a>	
	        		}
	        		@if(category.name == "Sport"){
	    			<a href="/">Sport</a>  
	       			 } *@
	       		}
	       		</ul>
        </div>
			
			</div>	
				
			<div class="container">		
				@for(coupon <- coupons){
					
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<img src="@coupon.picture" alt=""/>
										<h2>Only @coupon.getPriceString() KM</h2>
										<p>@coupon.name</p>
										<a href="/coupon/@coupon.id" class="btn btn-default add-to-cart">@*<i class="fa fa-shopping-cart">*@</i>View Coupon</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>Only @coupon.getPriceString() KM</h2>
											<p>@coupon.name</p>
											<a href="/coupon/@coupon.id" class="btn btn-default add-to-cart">@*<i class="fa fa-shopping-cart">*@</i>View Coupon</a>
										</div>
									</div>
								</div>
							</div>
						</div>
			}			
			</div>	
		</ul>
</body>
}

