@(nameField: String)(emailField: String)
@import helper._

@main("Registration"){
	

<body>
		<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-12">
						
							<ul class="nav navbar-nav">	
							<li><a href="/loginpage" class="active"><i class="active"></i> Login </a></li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li>
								<a href="/">Home</a></li>
								<li class="dropdown"><a href="#" class="active">Page1<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/" class="active">Page2</a></li>
										<li><a href="/">Page3</a></li> 
										<li><a href="/">Page4</a></li> 
										<li><a href="/">Page5</a></li> 
										<li><a href="/loginpage">Login</a></li> 
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Page6<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/">Page7</a></li>
										<li><a href="/">Page8</a></li>
                                    </ul>
                                </li> 
								<li><a href="/">Page9</a></li>
								<li><a href="/">Page10</a></li>
							</ul>
						</div>
					</div>
				</div>
				</div>
			</div>
			
		</header>
		
	</section>
	
	@if(flash.get("success")){
		<div class="alert alert-success" role="alert"> 
			<div class="container">
				@flash.get("success") 
			</div>
		</div>
	}


	@if(flash.get("error")){
		<div class="alert alert-danger" role="alert"> 
			<div class="container">
				@flash.get("error") 
			</div>
		</div>
	}
	<div class="container">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Registration</h2>
						<div class="col-sm-6 col-sm-offset-1">
					<div class="signup-form"><!--sign up form-->
						<h4>Sign Up</h4>
						<form action="@routes.UserController.register" method ="POST" >
							<input type="text" id="username" name="username"  onClick="this.select()" value="@nameField" placeholder="Username" required/>	<br>
							<input type="email" id="email" name="email" onClick="this.select()" value="@emailField" placeholder="Email" required/> <br>
							<input type="password" id="password" name="password" onClick="this.select()" placeholder="Password must be 6 characters including uppercase letter and numbers" pattern="(?=^.{6,16}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required/> <br>
							<input type="password" id="confirmPassword" name="confirmPassword" onClick="this.select()" placeholder="Confirm Password" required/> <br>
							<button type="submit" id="submit" class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
					<br>
						<br>
						<br>
						<br>
						<br>
				</div>
			</div>
		</div>
	</section><!--/form-->

}
