@(username: String)(coupon: Coupon)(message: String)

@import helper._

@main("Coupon Panel") {

<body>
		<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
		
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-12">
						
							<ul class="nav navbar-nav">
 							<li><a href="@routes.UserController.profilePage(username)" class="active">@username </a></li>
 							<li><a href="/logout" class="active"><i class="active"></i> Logout</a></li>					
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li>
								<a href="/">Home</a></li>
								<li class="dropdown"><a href="#" class="active">Page1<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/" class="active">Page2</a></li>
										<li><a href="/">Page3</a></li> 
										<li><a href="/">Page4</a></li> 
										<li><a href="/">Page5</a></li> 
										<li><a href="/loginpage">Login</a></li> 
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Page6<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/">Page7</a></li>
										<li><a href="/">Page8</a></li>
                                    </ul>
                                </li> 
								<li><a href="/">Page9</a></li>
								<li><a href="/">Page10</a></li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			</div>
		</header>
	</section>
	
	
	
	<div class="container">
				
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Coupon Update</h2>
						<div class="col-sm-6 col-sm-offset-1">
						
						<h4> Coupon: "@coupon.name" @message</h4>
				
					<div class="signup-form"><!--sign up form-->
						<form action="@routes.CouponController.updateCoupon(coupon.id)" method ="POST" >
							<input type="text" name="name" id="name" placeholder="Title" value=@coupon.name required/>
							<input type="text" name="price" id="price" placeholder="Price" value=@coupon.price required/>
							<p> Expiration date: @coupon.dateExpire </p>
							<input type="date" name="dateExpire"  max="2030-1-12"  min="2015-3-10" id="dateExpire" value=@coupon.dateExpire placeholder="Date of expire"/>
							<input type="text" name="picture" id="picture" placeholder="URL of image" value="@coupon.picture" />
							<input type="text" name="category" id="category" placeholder="Category" value= @coupon.category required/>
							<textarea name="description" id="description" rows="6" placeholder="Description of Coupon" required> @coupon.description </textarea>	
							<p></p>
							<textarea name="remark" id="remark" rows="6" placeholder="Remark of Coupon"> @coupon.remark </textarea>
							<button type="submit" class="btn btn-default">Update Coupon</button>
								<p></p>
									<p></p>
										<p></p>
											<p></p>
						</form>
					</div><!--/update Coupon form-->
				
				</div>
			</div>
		</div>
	</section><!--/form-->
							</div>
						</div>
					</div>
	<p></p>
										<p></p>
											<p></p>
	</body>
		
	

	
}

